.calculator {

  margin: 0 auto;

  @include desktop {
    max-width: 960px;
    margin: 30px auto;
  }

  &__title {
    color: $color-blue2;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 10px 0;
    border-bottom: solid 1px $color-grey;
    margin: 20px 0 20px 20px;

    @include tablet {
      margin: 44px 20px;
    }

  }

  &__subtitle {
    font-weight: lighter;
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: solid 1px $color-grey;
  }

  &__container {
    position: relative;
    margin: 20px auto;
    max-width: 470px;
    width: 91%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;

    @include desktop {
      max-width: 84%;
      min-height: 505px;
    }

  }

  &__content {
    background-color: $color-white;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 14px 20px;
    z-index: 1;
    position: relative;
    max-width: 470px;
    height: 505px;

    @include ie {
      width: 470px;
    }

  }

  &__form {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__field {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    &--half-sized {
      width: 47%;
    }

  }

  &__label {
    font-weight: bold;
    letter-spacing: 0.2px;
    color: $color-grey2;
    display: block;
    font-size: 0.8rem;
    margin-bottom: 8px;
    width: 100%;
  }

  &__range-limit {
    font-size: 0.85rem;
    color: $color-grey2;

    &--years-mortage {
      margin-right: 12px;
    }

  }

  &__range-input {

    -webkit-appearance: none;
    width: 64%;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-webkit-slider-thumb {
      background-color: $color-white;
      width: 24px;
      height: 24px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 50%;
      margin-top: -9px;
      border: none;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      background-color: $color-white;
      width: 24px;
      height: 24px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 50%;
      margin-top: -9px;
      border: none;
      cursor: pointer;
    }

    &::-ms-thumb {
      background-color: $color-white;
      width: 24px;
      height: 24px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 50%;
      margin-top: -9px;
      border: none;
      cursor: pointer;
    }

    &::-moz-range-track {
      background: linear-gradient(to right, $color-blue3 calc(var(--value)*1%), $color-grey4 0);
      height: 8px;
      border-radius: 4px;
    }

    &::-webkit-slider-runnable-track {
      background: linear-gradient(to right, $color-blue3 calc(var(--value)*1%), $color-grey4 0);
      height: 8px;
      border-radius: 4px;
    }

    &::-ms-fill-upper {
      background: linear-gradient(to right, $color-blue3 calc(var(--value)*1%), $color-grey4 0);
      height: 8px;
      border-radius: 4px;
    }

    &:focus {
      outline: none;
    }

  }

  &__text-input {
    padding: 13px 22px;
    border: solid 1px $color-grey3;
    border-radius: 4px;
    display: block;
    font-size: 0.9rem;
    width: 100%;

    &--error {
      border: solid 1px $color-red;
    }

    &--range-value {
      width: 50px;
      text-align: center;
      padding: 13px 10px;

      &::-webkit-outer-spin-button  {
        -webkit-appearance: none;
        margin: 0;
      }

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

    }

    &:focus {
      box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
      border: solid 1px #3e3d3f;
      outline: none;
    }

  }

  &__currency-prepend {
    position: relative;
    width: 100%;

    &::before {
      content: '$';
      position: absolute;
      left: 0;
      top: 1px;
      padding: 14px 10px;
      border-radius: 4px;
      font-size: 0.9rem;
    }
  }

  &__button {
    background-color: $color-blue;
    padding: 14px 20px;
    text-align: center;
    color: $color-white;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: darken($color-blue, 8%);
    }

  }

  &__error-message {
    font-size: 0.6rem;
    color: $color-red;
    font-weight: bold;
  }

}

.results {
  background-color: $color-blue4;
  z-index: -1;
  position: relative;
  transition: all 0.3s linear;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include desktop {
    max-width: 336px;
    height: 364px;
    margin: 70px 0;
  }

  &--open {
    height: 340px;

    @include desktop {
      height: 364px;
    }

  }

  &__title {
    color: $color-grey2;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 30px 30px 16px 30px;
  }

  &__box {
    padding: 24px 0;
    border-bottom: solid 1px $color-grey5;
    display: flex;
    justify-content: space-between;
    color: $color-grey2;
    align-items: center;
    margin: 0 30px;

    @include desktop {
      flex-flow: column;
      text-align: left;
      padding: 10px 0;
      border-bottom: none;
    }

    &--total {
      border-bottom: none;
    }

  }

  &__label {
    font-size: 0.75rem;

    @include desktop {
      font-size: 0.8rem;
      display: block;
      width: 100%;
      margin: 4px 0;
      font-weight: lighter;
    }

    &--total {

      @include desktop {
        margin: 8px 0;
        font-size: 1.1rem;
      }

    }

  }

  &__value {
    font-size: 0.9rem;
    color: $color-grey5;

    @include desktop {
      font-size: 1.1rem;
      display: block;
      width: 100%;
    }

    &--result {
      font-weight: bold;
      color: $color-grey2;
    }

    &--total {
      font-size: 1.1rem;
      font-weight: bold;

      @include desktop {
        font-size: 1.3rem;
        display: block;
        width: 100%;
      }
    }

  }

}
