* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $color-blue;
	color: $color-white;
}
::-moz-selection {
  background: $color-blue;
	color: $color-white;
}

html {
  font-size: $font-size;
  font-family: $font-style;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
