$color-white: #ffffff;

$color-blue: #0077c0;
$color-blue2: #006ea0;
$color-blue3: #1091cc;
$color-blue4: #eaf6fa;

$color-grey: #cacaca;
$color-grey2: #3e3d3f;
$color-grey3: #a6a6a6;
$color-grey4: #cacaca;
$color-grey5: #b2b2b2;

$color-red: #da3535;

$font-size: 16px;
$font-style: sans-serif;
